<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">


	<!-- Environment Initialization -->
	<servlet>
		<servlet-name>EmployeeInit</servlet-name>
		<servlet-class>coyote.machine.InitMachineService</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>


	<!-- Jersey RESTful web services -->
	<servlet>
		<servlet-name>Jersey</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>

		<init-param>
			<param-name>com.sun.jersey.config.property.resourceConfigClass</param-name>
			<param-value>com.sun.jersey.api.core.PackagesResourceConfig</param-value>
		</init-param>

		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>coyote.boss.rest</param-value>
		</init-param>

		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>

		<load-on-startup>10</load-on-startup>
	</servlet>

	
	<!-- Servlet Mapping -->
	<servlet-mapping>
		<servlet-name>Jersey</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>


</web-app>